*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    font-weight: 400;
}

.html{
    scroll-behavior: smooth;
}
.body{
    background-color: #191919;
    overflow-x: hidden;
}

.body::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

#home, #Upcoming, #Upcoming-2, #Merch, #About_Us, #Conctact{
    height: 100vh;
    width: 100%;
}

.background{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    z-index: -1;
    
}

.nav{
    /* background-color: #1919190e; */
    height: 150px;
    width: 100%;
    padding: 0 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8%;

    position: fixed;
    z-index: 100;

    left: 0;
    right: 0;
    margin: auto;

}

.mutear{
    position: absolute;
    z-index: 90;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0; bottom: 0;
    margin: auto;
}

.link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 21px;
    
    letter-spacing: 3.5px;
    text-transform: uppercase;
    padding: 0 10px;
    
}

.img__logo{
    height: 57px;
    background-color: #FFFFFF;
    padding: 0 10px;
    
}

.link:hover{
    background-color: #FFFFFF;
    color: #191919;
    font-weight: 600;
   
    
}

.decoration{
    position: relative;
    height: 79px;
}

.decoration-1{
    height: 81px;
    width: 105%;
    background-color: #b7ff1c;
    transform: rotate(-2deg);
    position: absolute;
}
.decoration-2{
    height: 81px;
    width: 105%;
    left: -3px;
    background-color: #101010;
    transform: rotate(2deg);
    position: absolute;
}

#Upcoming , #Upcoming-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#Upcoming::before,#Upcoming-2::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(Images/UPComming.png);
    background-size: cover;
    filter: brightness(0.2 );
}
#Upcoming-2::before{
    background-image: url(Images/pexels-adrien-olichon-1257089-2387793.webp);
    filter: brightness(0.3);

}

.event{
    height: 653px;
    width: 653px;
    background-color: #b7ff1c;
}

.event__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.info{
    height: 346px;
    width: 265px;
}

.info__text{
    color: #ffffff7a;
    margin: 0 0 34px 0;
}

.info__buy{
    font-weight: 600;
    display: flex;
    background-color: #b7ff1c;
    text-decoration: none;
    color: #191919;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 248px;

}

#Upcoming-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------CARRUSEL------------------------------------------ */

.carrusel{
    /* background-color: aqua;  */
    width: 20%;
    height: 85vh;

}

.contenido{
    height: 90%;
    width: 300%;
    /* background-color: white; */

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: all ease 0.5s;
}


.contenido__poster{
    height: 400px;
    filter: blur(2px);
    position: relative;
    margin: -100px;

    &:nth-child(1){
        z-index: 100;
    }
    &:nth-child(2){
        z-index: 110;
    }
    &:nth-child(3){
        z-index: 90;
    }
}


.contenido__poster.activo{
    height: 600px;
    filter: blur(0);
    transition: all 0.3s ease-in;
    z-index: 120;
}
.controls{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left{
    background-image: url(Icons/Arrow\ Left.svg);
    &:active{
        background-image: url(Icons/Arrow\ Left\ 2.svg);
    }

}

.right{
    background-image: url(Icons/Arrow\ Right.svg);

    &:active{
        background-image: url(Icons/Arrow\ Right\ 2.svg);
    }

}

.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border: none;
    background-color: transparent;
    background-size: contain;
    height: 30px;
    width: 30px;
}




 
.point{
    background-color: #999999;
    height: 0.6em;
    width: 0.6em;
    border-radius: 50%;
}

.point.activo{
    background-color: #b7ff1c;
    height: 0.8em;
    width: 0.8em;
}


/*----------------------------------FOOTER----------------------------------------------*/
#footer{
}

.panels{
    background-color: #101010;
    height: 300px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact, .social, .subscribe{
    display: flex;
    flex-direction: column;
    height: 177px;
    width: 220px;
    
}

h4{ /*Titulos de las secciones del footer*/
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
}


.contact{/*-----------------------------------BLOQUE-----------------------------------------------*/
    justify-content: space-around;   
}


.contact__address, .contact__phone{
    color: #BABABA;
    font-size: 13px;
    margin-top: 10px;
    line-height: 15px;
}

.contact__logo{
    margin-top: 20px;
    height: 59px;
    width: 87px;

}

.social{/*-----------------------------------BLOQUE-----------------------------------------------*/
    align-items: center;
    gap: 15px;
}
.social-links{
    display: flex;
    gap: 10px;
}

.social-media{
    min-height: 54px;
    min-width: 54px;
    background-color: #b7ff1c;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media__logo{
    max-width: 32px;
}

.social-media__logo.facebook{
    transform: translateY(7px);
}

.subscribe{/*-----------------------------------BLOQUE-----------------------------------------------*/
    gap: 10px;
}


.subscribe__input{
    height: 35px;
    width: 250px;
    background-color: #939393;
    border: none;
    outline: none;
    padding: 0 10px;

    &:focus{
        background-color: aqua;
    }
}

.subscribe__button{
    background-color: #b7ff1c;
    border: none;
    font-weight: 600;

    height: 43px;
    width: 130px;

    &:active{
        background-color: #9cda17;
    }
}

.terms{
    background-color: #202020;
    position: relative;
    z-index: 100;
    color: #FFFFFF;
  
}

.terms__text{
    margin: 0 11%;
}


/*------------------------------------------------Mensaje------------------------------------------*/

.veil{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 150;
}

.veil::before{

    content: "";
    background-color: #191919;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    filter: opacity(.9);

}

.banner{
    position: absolute;
    height: 50%;
    width: 50%;

    top: 50%;
    left: 50%;

    transform: translate(-50% , -50%);
    background-image: url(Images/Banner.png);
    background-size: cover;

    z-index: 130;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.bannertitulo{
    text-transform:uppercase;
    font-size: 2em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.options{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
}

.btn-si , .btn-no{
    background-color: #101010;
    color: #FFFFFF;
    width: 20%;
    height: 200%;
    border: none;
    font-weight: 600;

    &:active{
        background-color: #9cda17;
    }
}

.bannertexto{
    position: absolute;
    bottom: 10px;
    background-color: #ffffff70;
    padding: 0 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border-radius: 2px;
}




@media screen and (max-width:1024px) {

    .nav{
        gap: 3.1%;
    }
    
    .link{
        font-size: 19px;
    }
}